/******Reset CSS ******/
:root{
    --main-font:sans-serif;
    --font-size:16px;
    --main-color: #f7df1e;
    --second-color:#222;
    --main-modal-color:rgba(247,222,30,0.85);
    --second-modal-color:rgba(34,34,34,0.85);
    --container-width:1200px;
}

html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
}

img{
    max-width: 100%;
    height: auto;
}

/************Menu Hamburgueza ******************/
.header{
    position: sticky;
    top: 0px;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
    z-index: 997;
}

.header h1{
    margin: 0 auto;
    text-align: center;
}

.section{
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
}
.panel{
    position: fixed;
    overflow-y: auto;
    z-index: 998;
    background-color: var(--second-modal-color);
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* transform: translateY(-100%); arriba */
    /* transform: translateX(-100%); izquierda */
    /* transform: translateX(200%); derecha */
    visibility: hidden;
    transform: translateY(200%);
    transition: transform .4s ease;
    opacity: 0;
}
.panel.is-active{
    /* transform: translateY(0); */
    /* transform: translateX(0); */
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.panel-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
 
}

.menu{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
}

.menu a{
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.menu a:hover{
    font-weight: bold;
    color:var(--second-color);
    background-color: var(--main-modal-color);
}

/***** Evento del Teclado *****/

.stage{
    display: flex;
    min-height: 50vh;
    background-color: var(--second-color);
}

.ball{
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--main-color);
}

/****** Scroll bottton *******/
.scroll-top-btn{
    z-index: 999;
    position: fixed;
    bottom: 1vh;
    right: calc( 4.25rem + 1vw);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--second-color);
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: all .3s ease;
}
.scroll-top-btn:hover{
    background-color: var(--second-color);
    color: var(--main-color);
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

/*Dark-theme-btn*/
.dark-theme-btn{
    z-index: 999;
    position: fixed;
    bottom: 1vh;
    left: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--second-color);
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: all .3s ease;
}
.dark-theme-btn:hover{
    background-color: var(--second-color);
    color: var(--main-color);
}

.dark-mode{
    background-color: var(--second-color);
    color: var(--main-color);
}


.online,
.offline{
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #1b5e20;
    color: #fff;
}

.offline{
    background-color: #b71c1c;
}


/*Searc filter*/
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.card{
    background-color: var(--second-color);
    color: var(--main-color);
    transition: all 0.3s ease-out;
}

.card img{
    width: 100%;
    height: auto;
}

figcaption{
    padding: 1rem;
}

.filter{
    visibility: hidden;
    opacity: 0;
    order: 1;
}


/*Sliders responsive*/

.slider{
    position: relative;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
}

.sliders-slides{
    position: relative;
    height: 400px;
   
}

.slider-slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    border: 1px solid black;
}

.slider-slide img{
    height: inherit;
    width: inherit;
    object-fit: cover;
}
.slider-slide.active{
    opacity:1 ;
    visibility: visible;
}
.slider-btns{
    display: flex;
    justify-content: space-between;
    top: 50%;
    position: absolute;
    width: 100%;
    font-weight: bold;
    font-size: 3rem;
}

.slider a{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: thin solid black;
    text-decoration: none;
    background-color: white;
    color: black;
    transition: all 0.3s ease;
}

.slider a:hover{
    color: #4d4d4d;
}