*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .contenedor{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    border-radius: 50%;
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 100px;
    height: 100px;
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 100px;
    height: 100px;
    
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

/* body{
    padding: 20px;

}
.colorear{
    background-color: rgb(92, 92, 219);
}
.negro{
    background-color: black;
}
*/
/* .button{
    outline: none;
    border: none;
    background-color: #a4a7a4;
    color: white;
    padding: 10px 30px;
    font-weight: bold;
    cursor: pointer; 
    text-align: center;
} 

.eliminar{
  border: 0;
  outline: none;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
  cursor: pointer;
}
.eliminar:hover{
  background-color: rgb(221, 20, 20);
}  */

.table{
  width: 500px;
  height: auto;
  background-color: rgb(40, 40, 160);
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.table th{
  font-weight: bold;
  color: white;
}

.table tbody{
  width: 100%;
  border: 1px solid white;
}
.table tbody tr{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  

}
.table tbody tr td{
  color: white;
  font-weight: bold;
  border: 2px solid white;

  width: 100%;
}